<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension"
     >
	<Product Id="{9972FF2F-0828-4B45-81A0-9E71B07DFC83}" Name="CustomUninstallKeyUT" Language="1033" Version="$(var.JetVersion)" Manufacturer="Nir Bar" UpgradeCode="370186f7-0cd5-4fb1-82c1-382311d94780">
		<Package InstallerVersion="200" Compressed="yes" InstallPrivileges="elevated" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir" />

    <Property Id="MSIFASTINSTALL" Value="1"></Property>

    <PanelSW:CustomUninstallKey Id="Test1" Name="SystemComponent" Data="1" DataType="REG_DWORD"/>
    <PanelSW:CustomUninstallKey Id="Test3" Name="SystemComponent" ProductCode="AddressBook" Data="1" DataType="REG_DWORD"/>

  </Fragment>

	<Fragment>
    <ComponentGroup Id="ProductComponents" Directory="TARGETDIR">
      <Component Id="Test" Guid="*">
        <RegistryValue KeyPath="yes" Id="CustomUninstallKeyUT" Key="Software\Panel-SW.co.il\CustomUninstallKeyUT" Root="HKCU" Name="Test" Type="integer" Value="1" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>