<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension">
  <Package Name="AccountSidSearchUT" Language="1033" Version="$(var.JetVersion)" Manufacturer="$(var.JetManufacturer)" UpgradeCode="{B997AF76-8F98-40D1-B123-552C82C40B37}" InstallerVersion="200" ProductCode="{B7318C42-2252-44B9-A1E5-47CCD5163D9D}">

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    <Property Id="USER_SID">
      <PanelSW:AccountSidSearch AccountName="Administrators" />
    </Property>

    <Property Id="NO_USER_NAME" Value=".\ImNotAUser" />
    <Property Id="NO_USER_SID">
      <PanelSW:AccountSidSearch AccountName="[NO_USER_NAME]" />
    </Property>

    <Launch Condition="USER_SID" Message="Expected '[USER_NAME]' to have a SID" />
    <Launch Condition="Not NO_USER_SID" Message="Expected BUILTIN_ADMINISTRATORS_DOMAIN=BUILTIN" />

    <!-- Terminate after validating result. -->
    <InstallUISequence>
      <Custom Action="TerminateSuccessfully_Immediate" After="LaunchConditions"></Custom>
    </InstallUISequence>
    <InstallExecuteSequence>
      <Custom Action="TerminateSuccessfully_Immediate" After="LaunchConditions"></Custom>
    </InstallExecuteSequence>


    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="UnitTestSetup" />
    </StandardDirectory>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component>
        <File Source="$(sys.SOURCEFILEPATH)" />
      </Component>
    </ComponentGroup>
  </Package>
</Wix>
