<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension">
  <Package Name="BackupAndRestoreUT" Language="1033" Version="$(var.JetVersion)" Manufacturer="$(var.JetManufacturer)" UpgradeCode="{B997AF76-8F98-40D1-B123-552C82C40B37}" InstallerVersion="200"><MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" Schedule="afterInstallInitialize" />
    

    <Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
      <Component Directory="INSTALLFOLDER">
        <File Source="$(sys.SOURCEFILEPATH)" Id="BackupAndRestoreUT.wxs" />
        <PanelSW:BackupAndRestore IgnoreMissing="yes" IgnoreErrors="yes" Path="[#BackupAndRestoreUT.wxs]" RestoreScheduling="afterDuplicateFiles" />
        <PanelSW:BackupAndRestore IgnoreMissing="yes" IgnoreErrors="yes" Path="[OriginalDatabase]" RestoreScheduling="afterDuplicateFiles" />
        <PanelSW:BackupAndRestore IgnoreMissing="yes" IgnoreErrors="yes" Path="[DesktopFolder]" RestoreScheduling="afterDuplicateFiles" />
        <PanelSW:BackupAndRestore IgnoreMissing="yes" IgnoreErrors="yes" Path="[INSTALLFOLDER]" RestoreScheduling="afterDuplicateFiles" />
        <PanelSW:BackupAndRestore IgnoreMissing="yes" IgnoreErrors="yes" Path="[INSTALLFOLDER]1\\\\\" RestoreScheduling="afterDuplicateFiles" />
      </Component>
    </Feature>

    

    <Property Id="MSIFASTINSTALL" Value="7"></Property>

    <PanelSW:FileRegex FilePath="[#BackupAndRestoreUT.wxs]" Regex="RegularExpression" Replacement="_RegularExpression" IgnoreCase="no" Condition="Not Installed"/>
   
  
      <StandardDirectory Id="ProgramFiles6432Folder">
        <Directory Id="INSTALLFOLDER" Name="UnitTestSetup" />
      </StandardDirectory>
    </Package>
</Wix>
