<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension"
     >
  <Product Id="*" Name="RegexUT" Language="1033" Version="1.0.0.0" Manufacturer="PoingGrab" UpgradeCode="{B997AF76-8F98-40D1-B123-552C82C40B37}">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" Schedule="afterInstallInitialize" />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
      <Component Directory="INSTALLFOLDER" Id="Product.wxs">
        <File Source="$(var.ProjectDir)Product.wxs" />
        <PanelSW:BackupAndRestore Id="_1" IgnoreMissing="yes" Path="[#Product.wxs]" RestoreScheduling="afterDuplicateFiles"/>
      </Component>
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="UnitTestSetup" />
      </Directory>
    </Directory>

    <Property Id="MSIFASTINSTALL" Value="7"></Property>

    <PanelSW:FileRegex Id="_1" FilePath="[#Product.wxs]" Regex="RegularExpression" Replacement="_RegularExpression" IgnoreCase="no"><![CDATA[Not Installed]]></PanelSW:FileRegex>
   
  </Product>
</Wix>