[submodule "protobuf"]
	path = src/protobuf
	url = https://github.com/google/protobuf.git
	branch = 3.5.1.1
[submodule "exprtk"]
	path = src/exprtk
	url = https://github.com/ArashPartow/exprtk.git
[submodule "poco"]
	path = src/poco
	url = https://github.com/pocoproject/poco.git
