[submodule "protobuf"]
	path = protobuf
	url = https://github.com/google/protobuf.git
	branch = 3.5.1.1
[submodule "exprtk"]
	path = exprtk
	url = https://github.com/ArashPartow/exprtk.git
[submodule "poco"]
	path = poco
	url = https://github.com/pocoproject/poco.git
