<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schemas.panel-sw.co.il/wix/WixExtension ../../PanelSwWixExtension/XSD/PanelSwWixExtension.xsd">
  <Product Id="{769C11E5-D811-4CE3-BE79-CC23725E6B38}" Name="$(var.ProjectName)" Language="1033" Version="$(var.JetVersion)" Manufacturer="$(var.JetManufacturer)" UpgradeCode="{8DC7207F-59B4-45E6-90B0-75769F8040B8}">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="UnitTestSetup">
          <Directory Id="EmptyDir" Name="Maybe empty">
            <Directory Id="DeleteMeDir" Name="DeleteMe"/>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Property Id="MSIFASTINSTALL" Value="1"></Property>
    <InstallExecuteSequence>
      <Custom Action="PromptCancel_Deferred" After="RemoveReparseDataSched"/>
    </InstallExecuteSequence>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component>
        <File Source="$(sys.SOURCEFILEDIR)\run-test.bat" Compressed="no"/>

        <PanelSW:RemoveFolderEx Property="REMOVE_ON_INSTALL" On="install"/>
        <PanelSW:RemoveFolderEx Property="REMOVE_ON_UNINSTALL" On="uninstall"/>
        <PanelSW:RemoveFolderEx Property="REMOVE_ON_BOTH" On="both"/>

        <RemoveFile Property="REMOVE_NO_RECURSIVE" Name="file.txt" On="both" Id="REMOVE_NO_RECURSIVE.file"/>
        <RemoveFolder Property="REMOVE_NO_RECURSIVE" On="both" Id="REMOVE_NO_RECURSIVE.dir"/>
      </Component>

      <Component Transitive="yes">
        <Condition><![CDATA[Installed]]></Condition>
        <File Source="$(sys.SOURCEFILEDIR)\run-test.bat" Name="run-test-on-repair.bat"/>
        <PanelSW:RemoveFolderEx Property="REMOVE_ON_REPAIR" On="install"/>
      </Component>

      <Component>
        <Condition><![CDATA[Installed And Not Installed]]></Condition>
        <File Source="$(sys.SOURCEFILEDIR)\run-test.bat" Name="this-file-shouldnt-be-here.bat"/>
        <RemoveFile Property="NEVER_REMOVED" Name="*-file.txt" On="both" Id="NEVER_REMOVED.file"/>
        <RemoveFolder Property="NEVER_REMOVED" On="both" Id="NEVER_REMOVED.dir"/>
      </Component>

    </ComponentGroup>
  </Product>
</Wix>
