<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!-- PanelSwCustomActions.dll binary -->
  <Fragment>
    <Binary Id="PanelSwCustomActions.dll" SuppressModularization="yes" SourceFile="$(var.SolutionDir)\out\bin\$(var.Configuration)\PanelSwCustomActions.dll"></Binary>
  </Fragment>

  <!-- ShellExecute -->
  <Fragment>
    <CustomAction Id="ShellExecute_Immediate" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="PSW_ShellExecute" Execute="immediate" Return="check" />
    <CustomAction Id="ShellExecute_deferred" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="CommonDeferred" Execute="deferred" Return="check" Impersonate="no" />
    <CustomAction Id="ShellExecute_rollback" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="CommonDeferred" Execute="rollback" Return="check" Impersonate="no" />
    <CustomAction Id="ShellExecute_commit" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="CommonDeferred" Execute="commit" Return="check" Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="ShellExecute_Immediate" After="InstallInitialize" Overridable="yes"></Custom>
    </InstallExecuteSequence>
    <UI>
      <ProgressText Action="ShellExecute_deferred">Executing commands</ProgressText>
      <ProgressText Action="ShellExecute_rollback">Executing commands</ProgressText>
      <ProgressText Action="ShellExecute_commit">Executing commands</ProgressText>
    </UI>
  </Fragment>

  <!-- CustomUninstallKey -->
  <Fragment>
    <CustomAction Id="CustomUninstallKey_Immediate" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="CustomUninstallKey_Immediate" Execute="immediate" Return="check" />
    <CustomAction Id="CustomUninstallKey_deferred" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="CustomUninstallKey_deferred" Execute="deferred" Return="check" Impersonate="no" />
    <CustomAction Id="CustomUninstallKey_rollback" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="CustomUninstallKey_deferred" Execute="rollback" Return="check" Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="CustomUninstallKey_Immediate" After="PublishProduct" Overridable="yes"></Custom>
    </InstallExecuteSequence>

    <UI>
      <ProgressText Action="CustomUninstallKey_deferred">!(loc.CustomUninstallKey)</ProgressText>
      <ProgressText Action="CustomUninstallKey_rollback">!(loc.CustomUninstallKey)</ProgressText>
    </UI>
  </Fragment>

  <!-- RemoveRegistryValue -->
  <Fragment>
    <CustomAction Id="RemoveRegistryValue_Immediate" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="RemoveRegistryValue_Immediate" Execute="immediate" Return="check" />
    <CustomAction Id="RemoveRegistryValue_deferred" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="RemoveRegistryValue_Deferred" Execute="deferred" Return="check" Impersonate="no" />
    <CustomAction Id="RemoveRegistryValue_rollback" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="RemoveRegistryValue_Deferred" Execute="rollback" Return="check" Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="RemoveRegistryValue_Immediate" After="RemoveRegistryValues" Overridable="yes"></Custom>
    </InstallExecuteSequence>

    <UI>
      <ProgressText Action="RemoveRegistryValue_deferred">!(loc.RemoveRegistryValue)</ProgressText>
      <ProgressText Action="RemoveRegistryValue_rollback">!(loc.RemoveRegistryValue)</ProgressText>
    </UI>
  </Fragment>

  <!-- ReadIniValues -->
  <Fragment>
    <CustomAction Id="ReadIniValues" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="ReadIniValues" Execute="immediate" Return="check" />
    <InstallExecuteSequence>
      <Custom Action="ReadIniValues" After="AppSearch" Overridable="yes"></Custom>
    </InstallExecuteSequence>
    <InstallUISequence>
      <Custom Action="ReadIniValues" After="AppSearch" Overridable="yes"></Custom>
    </InstallUISequence>
  </Fragment>

  <!-- XmlSearch -->
  <Fragment>
    <CustomAction Id="XmlSearch" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="XmlSearch" Execute="immediate" Return="check" />
    <InstallExecuteSequence>
      <Custom Action="XmlSearch" After="AppSearch" Overridable="yes"></Custom>
    </InstallExecuteSequence>
    <InstallUISequence>
      <Custom Action="XmlSearch" After="AppSearch" Overridable="yes"></Custom>
    </InstallUISequence>
  </Fragment>

  <!-- Telemetry -->
  <Fragment>
    <CustomAction Id="Telemetry" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="Telemetry" Execute="immediate" Return="check" />
    <CustomAction Id="Telemetry_deferred" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="CommonDeferred" Execute="deferred" Return="ignore" Impersonate="no" />
    <CustomAction Id="Telemetry_rollback" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="CommonDeferred" Execute="rollback" Return="ignore" Impersonate="no" />
    <CustomAction Id="Telemetry_commit" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="CommonDeferred" Execute="commit" Return="ignore" Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="Telemetry" After="InstallInitialize" Overridable="yes"></Custom>
    </InstallExecuteSequence>

    <UI>
      <ProgressText Action="Telemetry_deferred">!(loc.Telemetry)</ProgressText>
      <ProgressText Action="Telemetry_rollback">!(loc.Telemetry)</ProgressText>
      <ProgressText Action="Telemetry_commit">!(loc.Telemetry)</ProgressText>
    </UI>
  </Fragment>

  <!-- TerminateSuccessfully -->
  <Fragment>
    <CustomAction Id="TerminateSuccessfully_Immediate" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="TerminateSuccessfully" Execute="immediate" Return="check" />
    <CustomAction Id="TerminateSuccessfully_Deferred" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="TerminateSuccessfully" Execute="deferred" Return="check" />
  </Fragment>

  <!-- SplitPath -->
  <Fragment>
    <CustomAction Id="SplitPath" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="SplitPath" Execute="immediate" Return="check" />

    <InstallExecuteSequence>
      <Custom Action="SplitPath" After="CostFinalize" Overridable="yes"></Custom>
    </InstallExecuteSequence>
    <InstallUISequence>
      <Custom Action="SplitPath" After="CostFinalize" Overridable="yes"></Custom>
    </InstallUISequence>
  </Fragment>

  <!-- PathExists -->
  <Fragment>
    <CustomAction Id="PathExists" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="SplitString" Execute="immediate" Return="check" />
  </Fragment>

  <!-- SplitString -->
  <Fragment>
    <CustomAction Id="SplitString" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="SplitString" Execute="immediate" Return="check" />
  </Fragment>

  <!-- TrimString -->
  <Fragment>
    <CustomAction Id="TrimString" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="TrimString" Execute="immediate" Return="check" />
  </Fragment>
  
  <!-- RegularExpression -->
  <Fragment>
    <CustomAction Id="RegularExpression" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="RegularExpression" Execute="firstSequence" Return="check" />
    <InstallUISequence>
      <Custom Action="RegularExpression" After="CostFinalize" />
    </InstallUISequence>
    <InstallExecuteSequence>
      <Custom Action="RegularExpression" After="CostFinalize" />
    </InstallExecuteSequence>
  </Fragment>

  <!-- FileRegex -->
  <Fragment>
    <CustomAction Id="FileRegex_Immediate" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="FileRegex" Execute="immediate" Return="check" />
    <CustomAction Id="FileRegex_rollback" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="CommonDeferred" Execute="rollback" Return="check" Impersonate="no" />
    <CustomAction Id="FileRegex_deferred" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="CommonDeferred" Execute="deferred" Return="check" Impersonate="no" />
    <CustomAction Id="FileRegex_commit" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="CommonDeferred" Execute="commit" Return="ignore" Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="FileRegex_Immediate" After="DuplicateFiles" Overridable="yes"></Custom>
    </InstallExecuteSequence>
    <UI>
      <ProgressText Action="ShellExecute_deferred">File search &amp; replace</ProgressText>
    </UI>
  </Fragment>

  <!-- DeletePath -->
  <Fragment>
    <CustomAction Id="DeletePath" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="DeletePath" Execute="immediate" Return="check" />
    <CustomAction Id="DeletePath_rollback" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="CommonDeferred" Execute="rollback" Return="check" Impersonate="no" />
    <CustomAction Id="DeletePath_deferred" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="CommonDeferred" Execute="deferred" Return="check" Impersonate="no" />
    <CustomAction Id="DeletePath_commit" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="CommonDeferred" Execute="commit" Return="ignore" Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="DeletePath" Before="InstallFinalize" Overridable="yes"></Custom>
    </InstallExecuteSequence>
    <UI>
      <ProgressText Action="DeletePath_rollback">Deleting files and folders</ProgressText>
      <ProgressText Action="DeletePath_deferred">Deleting files and folders</ProgressText>
      <ProgressText Action="DeletePath_commit">Deleting files and folders</ProgressText>
    </UI>
  </Fragment>

  <Fragment>
    <Property Id="DOMAIN_ADMINISTRATORS" Value="N/A" />
    <Property Id="DOMAIN_GUESTS" Value="N/A" />
    <Property Id="DOMAIN_USERS" Value="N/A" />
    <Property Id="ENTERPRISE_DOMAIN_CONTROLLERS" Value="N/A" />
    <Property Id="DOMAIN_DOMAIN_CONTROLLERS" Value="N/A" />
    <Property Id="DOMAIN_COMPUTERS" Value="N/A" />
    <Property Id="BUILTIN_ADMINISTRATORS" Value="N/A" />
    <Property Id="BUILTIN_GUESTS" Value="N/A" />
    <Property Id="BUILTIN_USERS" Value="N/A" />
    <Property Id="LOCAL_ADMIN" Value="N/A" />
    <Property Id="LOCAL_GUEST" Value="N/A" />
    <Property Id="ACCOUNT_OPERATORS" Value="N/A" />
    <Property Id="BACKUP_OPERATORS" Value="N/A" />
    <Property Id="PRINTER_OPERATORS" Value="N/A" />
    <Property Id="SERVER_OPERATORS" Value="N/A" />
    <Property Id="AUTHENTICATED_USERS" Value="N/A" />
    <Property Id="PERSONAL_SELF" Value="N/A" />
    <Property Id="CREATOR_OWNER" Value="N/A" />
    <Property Id="CREATOR_GROUP" Value="N/A" />
    <Property Id="LOCAL_SYSTEM" Value="N/A" />
    <Property Id="POWER_USERS" Value="N/A" />
    <Property Id="EVERYONE" Value="N/A" />
    <Property Id="REPLICATOR" Value="N/A" />
    <Property Id="INTERACTIVE" Value="N/A" />
    <Property Id="NETWORK" Value="N/A" />
    <Property Id="SERVICE" Value="N/A" />
    <Property Id="RESTRICTED_CODE" Value="N/A" />
    <Property Id="WRITE_RESTRICTED_CODE" Value="N/A" />
    <Property Id="ANONYMOUS" Value="N/A" />
    <Property Id="SCHEMA_ADMINISTRATORS" Value="N/A" />
    <Property Id="CERT_SERV_ADMINISTRATORS" Value="N/A" />
    <Property Id="RAS_SERVERS" Value="N/A" />
    <Property Id="ENTERPRISE_ADMINS" Value="N/A" />
    <Property Id="GROUP_POLICY_ADMINS" Value="N/A" />
    <Property Id="ALIAS_PREW2KCOMPACC" Value="N/A" />
    <Property Id="LOCAL_SERVICE" Value="N/A" />
    <Property Id="NETWORK_SERVICE" Value="N/A" />
    <Property Id="REMOTE_DESKTOP" Value="N/A" />
    <Property Id="NETWORK_CONFIGURATION_OPS" Value="N/A" />
    <Property Id="PERFMON_USERS" Value="N/A" />
    <Property Id="PERFLOG_USERS" Value="N/A" />
    <Property Id="IIS_USERS" Value="N/A" />
    <Property Id="CRYPTO_OPERATORS" Value="N/A" />
    <Property Id="OWNER_RIGHTS" Value="N/A" />
    <Property Id="EVENT_LOG_READERS" Value="N/A" />
    <Property Id="ENTERPRISE_RO_DCs" Value="N/A" />
    <Property Id="CERTSVC_DCOM_ACCESS" Value="N/A" />

    <CustomAction Id="AccountNames" BinaryKey="PanelSwCustomActions.dll" DllEntry="AccountNames" />
    <InstallUISequence>
      <Custom Action="AccountNames" Before="AppSearch" />
    </InstallUISequence>
    <InstallExecuteSequence>
      <Custom Action="AccountNames" Before="AppSearch" />
    </InstallExecuteSequence>

  </Fragment>
  

  <!-- MsiSqlQuery -->
  <Fragment>
    <CustomAction Id="MsiSqlQuery" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="MsiSqlQuery" Execute="immediate" Return="check" />

    <InstallExecuteSequence>
      <Custom Action="MsiSqlQuery" After="CostFinalize" Overridable="yes"></Custom>
    </InstallExecuteSequence>
  </Fragment>

  <!-- Rollback -->
  <Fragment>
    <CustomAction Id="Rollback_Immediate" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="Rollback" Execute="immediate" Return="check" />
    <CustomAction Id="Rollback_Deferred" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="Rollback" Execute="deferred" Return="check" />
  </Fragment>

</Wix>