<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <!-- PanelSwCustomActions.dll binary -->
  <Fragment>
    <Binary Id="PanelSwCustomActions.dll" SuppressModularization="yes" SourceFile="$(var.SolutionDir)bin\$(var.Configuration)\PanelSwCustomActions.dll"></Binary>
  </Fragment>

  <!-- CustomUninstallKey -->
  <Fragment>
    <CustomAction Id="CustomUninstallKey_Immediate" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="CustomUninstallKey_Immediate" Execute="immediate" Return="check" />
    <CustomAction Id="CustomUninstallKey_deferred" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="CustomUninstallKey_deferred" Execute="deferred" Return="check" Impersonate="no" />
    <CustomAction Id="CustomUninstallKey_rollback" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="CustomUninstallKey_deferred" Execute="rollback" Return="check" Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="CustomUninstallKey_Immediate" After="PublishProduct" Overridable="yes"></Custom>
    </InstallExecuteSequence>

    <UI>
      <ProgressText Action="CustomUninstallKey_deferred">!(loc.CustomUninstallKey)</ProgressText>
      <ProgressText Action="CustomUninstallKey_rollback">!(loc.CustomUninstallKey)</ProgressText>
    </UI>
  </Fragment>
  
  <!-- RemoveRegistryValue -->
  <Fragment>
    <CustomAction Id="RemoveRegistryValue_Immediate" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="RemoveRegistryValue_Immediate" Execute="immediate" Return="check" />
    <CustomAction Id="RemoveRegistryValue_deferred" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="RemoveRegistryValue_Deferred" Execute="deferred" Return="check" Impersonate="no" />
    <CustomAction Id="RemoveRegistryValue_rollback" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="RemoveRegistryValue_Deferred" Execute="rollback" Return="check" Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="RemoveRegistryValue_Immediate" After="RemoveRegistryValues" Overridable="yes"></Custom>
    </InstallExecuteSequence>

    <UI>
      <ProgressText Action="RemoveRegistryValue_deferred">!(loc.RemoveRegistryValue)</ProgressText>
      <ProgressText Action="RemoveRegistryValue_rollback">!(loc.RemoveRegistryValue)</ProgressText>
    </UI>
  </Fragment>

  <!-- ReadIniValues -->
  <Fragment>
    <CustomAction Id="ReadIniValues" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="ReadIniValues" Execute="immediate" Return="check" />
    <InstallExecuteSequence>
      <Custom Action="ReadIniValues" After="AppSearch" Overridable="yes"></Custom>
    </InstallExecuteSequence>
    <InstallUISequence>
      <Custom Action="ReadIniValues" After="AppSearch" Overridable="yes"></Custom>
    </InstallUISequence>
  </Fragment>

  <!-- XmlSearch -->
  <Fragment>
    <CustomAction Id="XmlSearch" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="XmlSearch" Execute="immediate" Return="check" />
    <InstallExecuteSequence>
      <Custom Action="XmlSearch" After="AppSearch" Overridable="yes"></Custom>
    </InstallExecuteSequence>
    <InstallUISequence>
      <Custom Action="XmlSearch" After="AppSearch" Overridable="yes"></Custom>
    </InstallUISequence>
  </Fragment>

  <!-- TerminateSuccessfully -->
  <Fragment>
    <CustomAction Id="TerminateSuccessfully_Immediate" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="TerminateSuccessfully" Execute="immediate" Return="check" />
    <CustomAction Id="TerminateSuccessfully_Deferred" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="TerminateSuccessfully" Execute="deferred" Return="check" />
  </Fragment>

  <!-- Rollback -->
  <Fragment>
    <CustomAction Id="Rollback_Immediate" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="Rollback" Execute="immediate" Return="check" />
    <CustomAction Id="Rollback_Deferred" SuppressModularization="yes" BinaryKey="PanelSwCustomActions.dll" DllEntry="Rollback" Execute="deferred" Return="check" />
  </Fragment>

</Wix>
