<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension"
     >
  <Product Id="*" Name="BackupAndRestoreUT" Language="1033" Version="1.0.0.0" Manufacturer="Panel::Software" UpgradeCode="{B997AF76-8F98-40D1-B123-552C82C40B37}">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" Schedule="afterInstallInitialize" />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
      <Component Directory="INSTALLFOLDER" Id="Product.wxs">
        <File Source="$(var.ProjectDir)Product.wxs" />
        <PanelSW:CreateSelfSignCertificate Id="_1" Expiry="200" Password="123654" X500="CN=panel-sw.co.il"/>
      </Component>
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="UnitTestSetup" />
      </Directory>
    </Directory>

    <Property Id="MSIFASTINSTALL" Value="7"></Property>
    <Property Id="CERT_HASH">
      <PanelSW:CertificateHashSearch CertName="WMSvc-SHA2-SBUSXTIP4X"/>
    </Property>
    <Condition Message="Bad Cert">
      <![CDATA[Installed OR CERT_HASH]]>
    </Condition>
  </Product>
</Wix>