<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension"
     >
  <Product Id="{B7318C42-2252-44B9-A1E5-47CCD5163D9D}" Name="PreprocessorUT" Language="1033" Version="1.0.0.0" Manufacturer="Panel::Software" UpgradeCode="{B997AF76-8F98-40D1-B123-552C82C40B37}">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
      <ComponentGroupRef Id="MyComponents"/>
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="UnitTestSetup" />
      </Directory>
    </Directory>

    <!-- ==== Collection variables
    - pragma tuple defines a variable-collection by key whose values can be accesses by preprocessor function in the forms $(tuple.KEY(_index_))), or $(tuple.KEY._index_)
    -->
    <?pragma tuple.NIR a;   b;       c?>
    <?pragma tuple.BAR x;y;z?>

    <!-- tuple_assert.EQUAL_SIZE: Assert that supplied tuple variables have equal number of elements --> 
    <?pragma tuple_assert.EQUAL_SIZE NIR; BAR?>

    <!-- $(tuple_range.KEY()): Create range of indices for 'foreach' directive on tuple KEY -->
    <?foreach i in $(tuple_range.BAR())?>
    
    <Component Feature="ProductFeature" Directory="INSTALLFOLDER">
      <File Source="$(sys.SOURCEFILEPATH)" Name="Product.$(tuple.NIR($(var.i))).$(tuple.BAR($(var.i))).wxs"/>
    </Component>
    
    <?endforeach?>
    <!-- Optional endtuple.KEY to delete a tuple variable -->
    <?pragma endtuple.BAR?>
    <?pragma endtuple.NIR?>
  </Product>

  <!-- ==== Harvest using heat command -->
  <?pragma heat.dir "$(sys.SOURCEFILEDIR)\" -cg MyComponents -ag -var sys.SOURCEFILEDIR -dr INSTALLFOLDER -srd -suid -sfrag -t Test.xslt?>
</Wix>