<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schemas.panel-sw.co.il/wix/WixExtension ../../PanelSwWixExtension/XSD/PanelSwWixExtension.xsd">
  <Package Name="$(var.ProjectName)" Language="1033" Version="$(var.JetVersion)" Manufacturer="$(var.JetManufacturer)" UpgradeCode="{8DC7207F-59B4-45E6-90B0-75769F8040B8}" InstallerVersion="200" ProductCode="{769C11E5-D811-4CE3-BE79-CC23725E6B38}">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <PanelSW:DeletePath Path="[TEST_DELETE_DIR]" Condition="TEST_DELETE_DIR"/>
    <PanelSW:DeletePath Path="[EmptyDir]" OnlyIfEmpty="yes" Condition="Not Installed"/>
    <PanelSW:DeletePath Path="[DeleteMeDir]FileOperationsUT.wxs" Condition="Not Installed"/>
    <PanelSW:DeletePath Path="[EmptyDir]" OnlyIfEmpty="yes" AllowReboot="no" Condition="Not Installed"/>

    <Property Id="MSIFASTINSTALL" Value="1"/>
    <SetProperty Id="NONEXISTENT_FOLDER" Value="[OriginalDatabase].doesnt_exist" Before="AppSearch" Sequence="both"/>
    <SetProperty Id="NONEXISTENT_FOLDER2" Value="[OriginalDatabase].doesnt_exist" Before="AppSearch" Sequence="both"/>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="Test">
        <File Id="Test" Source="$(sys.SOURCEFILEPATH)" KeyPath="yes">
          <CopyFile Id="DeleteMeDir" DestinationDirectory="DeleteMeDir" />
        </File>
        <CreateFolder Directory="DeleteMeDir"/>
      </Component>

      <Component>
        <File Source="$(sys.SOURCEFILEDIR)\run-test.bat" Compressed="no"/>

        <PanelSW:RemoveFolderEx Property="REMOVE_ON_INSTALL" On="install"/>
        <PanelSW:RemoveFolderEx Property="REMOVE_ON_UNINSTALL" On="uninstall"/>
        <PanelSW:RemoveFolderEx Property="REMOVE_ON_BOTH" On="both"/>
        <PanelSW:RemoveFolderEx Property="NONEXISTENT_FOLDER" On="both"/>

        <RemoveFile Property="REMOVE_NO_RECURSIVE" Name="file.txt" On="both"/>
        <RemoveFolder Property="REMOVE_NO_RECURSIVE" On="both"/>

        <RemoveFile Property="NEVER_REMOVED" Name="*-file.txt" On="both"/>
        <RemoveFolder Property="NEVER_REMOVED" On="both"/>
      </Component>

      <Component Transitive="yes" Condition="Installed">
        <File Source="$(sys.SOURCEFILEDIR)\run-test.bat" Name="run-test-on-repair.bat"/>
        <PanelSW:RemoveFolderEx Property="REMOVE_ON_REPAIR" On="install"/>
      </Component>

      <!-- Never installed -->
      <Component Guid="" Condition="Installed And Not Installed">
        <File Source="$(sys.SOURCEFILEDIR)\run-test.bat" Name="never.bat"/>
        <PanelSW:RemoveFolderEx Property="NONEXISTENT_FOLDER2" On="both"/>
      </Component>
    </ComponentGroup>

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="UnitTestSetup">
        <Directory Id="EmptyDir" Name="Maybe empty">
          <Directory Id="DeleteMeDir" Name="DeleteMe" />
        </Directory>
      </Directory>
    </StandardDirectory>

    <InstallExecuteSequence>
      <Custom Action="PromptCancel_Deferred" After="RemoveReparseDataSched"/>
    </InstallExecuteSequence>
  </Package>
</Wix>
