<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schemas.panel-sw.co.il/wix/WixExtension ../../PanelSwWixExtension/XSD/PanelSwWixExtension.xsd">
  <Product Id="*" Name="IsWindowsVersionOrGreaterUT" Language="1033" Version="$(var.JetVersion)" Manufacturer="$(var.JetManufacturer)" UpgradeCode="{B997AF76-8F98-40D1-B123-552C82C40B37}">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
      <Component Directory="INSTALLFOLDER">
        <File Source="$(sys.SOURCEFILEPATH)"/>
      </Component>
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="UnitTestSetup" />
      </Directory>
    </Directory>

    <Property Id="MSIFASTINSTALL" Value="1"></Property>

    <Property Id="TEST_5_0">
      <PanelSW:IsWindowsVersionOrGreater MinVersion="5.0" />
    </Property>
    <Property Id="TEST_10">
      <PanelSW:IsWindowsVersionOrGreater MinVersion="10.0.18362" MaxVersion="10.0.21999" />
    </Property>
    <Property Id="TEST_11">
      <PanelSW:IsWindowsVersionOrGreater MinVersion="10.0.22000" />
    </Property>

    <Condition Message="Surely we're no older than Windows 5.0"><![CDATA[Installed Or TEST_5_0]]></Condition>
    <Condition Message="Surely we're no older than Windows 10.0"><![CDATA[Installed Or TEST_11 Or TEST_10]]></Condition>
    <Condition Message="Surely we're no older than Windows 11.0"><![CDATA[Installed Or TEST_11]]></Condition>
    <CustomActionRef Id="TerminateSuccessfully_Immediate"/>
  </Product>
</Wix>
