<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schemas.panel-sw.co.il/wix/WixExtension ../../PanelSwWixExtension/XSD/PanelSwWixExtension.xsd">
  <Package Name="$(var.ProjectName)" Language="1033" Version="$(var.JetVersion)" Manufacturer="$(var.JetManufacturer)" UpgradeCode="{8DC7207F-59B4-45E6-90B0-75769F8040B8}" InstallerVersion="200" ProductCode="{769C11E5-D811-4CE3-BE79-CC23725E6B38}">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Property Id="MSIFASTINSTALL" Value="1"></Property>
    <Property Id="ORIGINAL_DATABASE_DIR_">
      <PanelSW:RegularExpression Input="[OriginalDatabase]" Expression="\\\w+.msi" Replacement=""/>
    </Property>

    <PanelSW:ZipFile SourceFolder="[ORIGINAL_DATABASE_DIR_]" FilePattern="*.log" TargetZipFile="[INSTALLFOLDER]1.logs.zip" Condition="Not Installed"/>
    <PanelSW:ZipFile SourceFolder="[INSTALLFOLDER]" TargetZipFile="[INSTALLFOLDER]1.zip" Condition="Not Installed"/>
    <PanelSW:ZipFile SourceFolder="[ORIGINAL_DATABASE_DIR_]" TargetZipFile="[INSTALLFOLDER]origdir.zip" Condition="Not Installed" ErrorHandling="prompt"/>
    <PanelSW:ZipFile SourceFolder="[INSTALLFOLDER]" IncludePattern="**/*.txt" TargetZipFile="[INSTALLFOLDER]txt.zip" Condition="Not Installed" ErrorHandling="prompt"/>
    <PanelSW:ZipFile SourceFolder="[INSTALLFOLDER]" ExcludePattern="**/*.txt" TargetZipFile="[INSTALLFOLDER]notxt.zip" Condition="Not Installed" ErrorHandling="prompt"/>
    <PanelSW:ZipFile SourceFolder="[INSTALLFOLDER]" IncludePattern="**/*.txt" ExcludePattern="**/*.txt" TargetZipFile="[INSTALLFOLDER]none.zip" Condition="Not Installed" ErrorHandling="prompt"/>
    <PanelSW:Unzip TargetFolder="[INSTALLFOLDER]" ZipFile="[INSTALLFOLDER]1.zip" OverwriteMode="Unmodified" Condition="Not Installed"/>
    <PanelSW:Unzip TargetFolder="[WindowsVolume]1\2\3" ZipFile="[INSTALLFOLDER]1.zip" Overwrite="yes" Condition="Not Installed"/>
    <PanelSW:Unzip TargetFolder="[WindowsVolume]1\2\4" ZipFile="[INSTALLFOLDER]1.zip" Overwrite="yes" DeleteZip="yes" CreateRootFolder="no" Condition="Not Installed"/>
    <PanelSW:Unzip TargetFolder="[INSTALLFOLDER]npp" ZipFile="[#iconsext.zip]" OverwriteMode="Always" Condition="&amp;ProductFeature &gt;= 3"/>
    <PanelSW:Unzip TargetFolder="[INSTALLFOLDER]msi" ZipFile="[INSTALLFOLDER]origdir.zip" OverwriteMode="Always" DeleteZip="yes" Condition="&amp;ProductFeature &gt;= 3" ErrorHandling="prompt"/>

    <ComponentGroup Id="ProductComponents">
      <Component Directory="INSTALLFOLDER">
        <File Source="$(sys.SOURCEFILEPATH)" />
        <RemoveFile On="both" Name="1.zip" Id="_1" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="$(var.ProjectDir)SizeZero.txt" />
      </Component>
      <Component Directory="INSTALLFOLDER1">
        <File Source="$(var.ProjectDir)ZipFileUT.wixproj" ReadOnly="yes" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="D:\Tools\iconsext.zip" Id="iconsext.zip" />
      </Component>
    </ComponentGroup>

    <InstallExecuteSequence>
      <Custom Action="UnzipSched" After="ZipFileSched" />
    </InstallExecuteSequence>

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="UnitTestSetup">
        <Directory Id="INSTALLFOLDER1" Name="1" />
      </Directory>
    </StandardDirectory>
  </Package>
</Wix>
