<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension">
  <Product Id="{769C11E5-D811-4CE3-BE79-CC23725E6B38}" Name="$(var.ProjectName)" Language="1033" Version="1.0.0.0" Manufacturer="Panel::Software" UpgradeCode="{8DC7207F-59B4-45E6-90B0-75769F8040B8}">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="UnitTestSetup" />
      </Directory>
    </Directory>

    <Property Id="MSIFASTINSTALL" Value="1"/>
    <Property Id="GOOGLE" Hidden="yes" Value="www.google.com"/>
    <Property Id="PACKETS" Hidden="yes" Value="Packets"/>

    <Binary Id="TestBinary" SourceFile="..\..\build\protobuf\$(var.Configuration)\protoc.exe"/>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="Test" Guid="*">
        <File Source="$(var.ProjectDir)Product.wxs" />
        <PanelSW:ExecOn Id="_1" Command='"ping.exe" "[GOOGLE]"' OnInstall='yes' OnInstallRollback='yes' OnReinstall='yes' OnReinstallRollback='yes' OnUninstall='yes' OnUninstallRollback='yes'
                        BeforeStopServices='yes' AfterStopServices='yes' BeforeStartServices='yes' AfterStartServices='yes' WorkingDirectory='[INSTALLFOLDER]'>
          <PanelSW:ConsoleOutput Expression='\b[PACKETS]\b' Behavior='prompt' BehaviorOnMatch='yes' PromptText='Packets detected'/>
          <PanelSW:ConsoleOutput Expression='\boogle\b' Behavior='prompt' BehaviorOnMatch='no' PromptText='We did not ping oogle'/>
          <PanelSW:ExitCode Value='0' Behavior='scheduleReboot'/>
        </PanelSW:ExecOn>
        <PanelSW:ExecOn Id="_2" Command='"ping.exe" "[GOOGLE]"' OnInstall='yes' OnInstallRollback='yes' OnReinstall='yes' OnReinstallRollback='yes' OnUninstall='yes' OnUninstallRollback='yes'
                        BeforeStopServices='yes' AfterStopServices='yes' BeforeStartServices='yes' AfterStartServices='yes' Impersonate='yes' WorkingDirectory='[INSTALLFOLDER]'>
          <PanelSW:Environment Name='ABC' Value='NIR'/>
        </PanelSW:ExecOn>

        <PanelSW:ExecOn Id='TestBinary' BinaryKey='TestBinary' Command='--version' BeforeStartServices='yes' OnInstall='yes'/>
      </Component>
    </ComponentGroup>
  </Product>
</Wix>