<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension">
  <Package Name="$(var.ProjectName)" Language="1033" Version="$(var.JetVersion)" Manufacturer="$(var.JetManufacturer)" UpgradeCode="{8DC7207F-59B4-45E6-90B0-75769F8040B8}" InstallerVersion="200" ProductCode="{769C11E5-D811-4CE3-BE79-CC23725E6B38}">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <DirectoryRef Id="INSTALLFOLDER">
      <PanelSW:DiskSpace />
    </DirectoryRef>

    <Property Id="MSIFASTINSTALL" Value="1"></Property>

    <ComponentGroup Id="ProductComponents">
      <Component Directory="INSTALLFOLDER">
        <File Source="$(sys.SOURCEFILEPATH)" ReadOnly="yes" />
      </Component>
    </ComponentGroup>

    <CustomAction Error="30000" Id="DiskSpaceCheck" />
    <InstallExecuteSequence>
      <Custom Action="DiskSpaceCheck" After="DiskSpace" Condition="Not Installed And ((ProgramFilesFolder_DISK_FREE_SPACE_GB &lt; 20) OR (INSTALLFOLDER_DISK_FREE_SPACE_GB &lt; 20))" />
    </InstallExecuteSequence>
    <UI>
      <Error Id="30000" Message="20GB Disk Free Space Required" />
    </UI>


    <StandardDirectory Id="ProgramFiles6432Folder">
      <PanelSW:DiskSpace />
      <Directory Id="INSTALLFOLDER" Name="$(var.ProjectName)">
        <Directory Id="TestFolder">
          <PanelSW:DiskSpace />
        </Directory>
      </Directory>
    </StandardDirectory>
  </Package>
</Wix>
