<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension"
     >

  <Product Id="*" Name="ReadIniValuesUT" Language="1033" Version="1.0.0.0" Manufacturer="Microsoft" UpgradeCode="d377fd04-a940-4ed2-8d55-e2f1f6f39d2d">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />
    <Property Id="MSIFASTINSTALL" Value="1"></Property>

    <Feature Id="ProductFeature" Title="ReadIniValuesUT" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="ReadIniValuesUT" />
      </Directory>
    </Directory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="JustFile" Guid="*">
        <File Id="JustFile" Source="$(var.ProjectDir)Product.wxs"></File>
      </Component>
    </ComponentGroup>
  
    <PanelSW:ReadIniValues Id="TEST_VALUE" FilePath="$(var.ProjectDir)TEST.INI" Key="VALUE" Section="SECTION" DestProperty="TST_TEST_VALUE" IgnoreErrors="yes"></PanelSW:ReadIniValues>
    <PanelSW:ReadIniValues Id="TST_NULL" FilePath="$(var.ProjectDir)TEST.INI" Key="NO_VALUE" Section="SECTION" DestProperty="TST_NULL" IgnoreErrors="yes"></PanelSW:ReadIniValues>
    <PanelSW:ReadIniValues Id="TST_NULL_1" FilePath="$(var.ProjectDir)TEST1.INI" Key="VALUE" Section="SECTION" DestProperty="TST_NULL_1" IgnoreErrors="yes"></PanelSW:ReadIniValues>

    <UI>
      <Error Id="10000">UnitTest failed</Error>
      <Error Id="10001">UnitTest pass</Error>
    </UI>
    <InstallExecuteSequence>
      
      <!-- Error if conditions show failure. -->
      <Custom Action="ReadIniValuesTest" Before="InstallFinalize">
        (Not TST_TEST_VALUE="TEST_VALUE")
        Or
        TST_NULL
        Or
        TST_NULL_1
      </Custom>
      
      <!-- Terminate Successfully -->
      <Custom Action="TerminateSuccessfully_Immediate" After="ReadIniValuesTest"></Custom>
      
    </InstallExecuteSequence>
    <CustomAction Id="ReadIniValuesTest" Error="10000" Execute="immediate" Return="check"></CustomAction>
  </Product>
</Wix>