<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension">
  <Package Name="SetPropertyFromPipeSetup" Language="1033" Version="$(var.JetVersion)" Manufacturer="$(var.JetManufacturer)" UpgradeCode="{B997AF76-8F98-40D1-B123-552C82C40B37}" InstallerVersion="200" ProductCode="{B7318C42-2252-44B9-A1E5-47CCD5163D9D}">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <PanelSW:SetPropertyFromPipe PipeName="[PIPE_NAME]" />

    <Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Package>

  <Fragment>
    <Property Id="MSIFASTINSTALL" Value="1"></Property>

    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="UnitTestSetup" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component>
        <File Source="$(sys.SOURCEFILEPATH)"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
