<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension"
     >

  <Product Id="*" Name="SqlSearchUT" Language="1033" Version="1.0.0.0" Manufacturer="Panel::Software" UpgradeCode="d377fd04-a940-4ed2-8d55-e2f1f6f39d2d">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />
    <Property Id="MSIFASTINSTALL" Value="1"></Property>

    <Feature Id="ProductFeature" Title="SqlSearchUT" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="SqlSearchUT" />
      </Directory>
    </Directory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="JustFile" Guid="*">
        <File Id="JustFile" Source="$(var.ProjectDir)Product.wxs"></File>
      </Component>
    </ComponentGroup>

    <Property Id="SQL_TEST">
      <PanelSW:SqlSearch Server="." Instance="SQLEXPRESS" Database="master" Query="SELECT name FROM sysdatabases WHERE name='HUBDB'" />
    </Property>
  </Product>
</Wix>