<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension"
     >

  <Product Id="*" Name="SqlSearchUT" Language="1033" Version="1.0.0.0" Manufacturer="Panel::Software" UpgradeCode="d377fd04-a940-4ed2-8d55-e2f1f6f39d2d">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />
    <Property Id="MSIFASTINSTALL" Value="1"></Property>

    <Feature Id="ProductFeature" Title="SqlSearchUT" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="SqlSearchUT" />
      </Directory>
    </Directory>

    <Binary SourceFile="$(sys.SOURCEFILEDIR)Script.sql" Id="Script.sql"/>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="JustFile">
        <File Source="$(sys.SOURCEFILEPATH)"/>
        <PanelSW:SqlScript BinaryKey="Script.sql" Server="[SQL_SERVER]" Instance="[SQL_INSTANCE]" Database="[SQL_DB]" Username="[SQL_USER]" Password="[SQL_PSW]" OnInstall="yes" ErrorHandling="prompt">
          <PanelSW:Replace Text="PANELSW_Test" Replacement="PANELSW_Test1"/>
        </PanelSW:SqlScript>
      </Component>
    </ComponentGroup>

    <Property Id="SQL_SERVER" Value="."/>
    <Property Id="SQL_INSTANCE" Value="SQLEXPRESS"/>

    <Property Id="SQL_TEST">
      <PanelSW:SqlSearch Server="[SQL_SERVER]" Instance="[SQL_INSTANCE]" Database="[SQL_DB]" Username="[SQL_USER]" Password="[SQL_PSW]"
                         Query="SELECT TOP 1 name FROM sysdatabases" />
    </Property>

    <Property Id="SQL_TEST1">
      <PanelSW:SqlSearch Server="[SQL_SERVER]\[SQL_INSTANCE]" Database="[SQL_DB]" Username="[SQL_USER]" Password="[SQL_PSW]"
                         Query="SELECT TOP 1 name FROM sysdatabases" />
    </Property>

    <!-- Hopefully, default instance exists on test machine -->
    <Property Id="SQL_TEST3">
      <PanelSW:SqlSearch Server="[SQL_SERVER]" Database="[SQL_DB]" Username="[SQL_USER]" Password="[SQL_PSW]"
                         Query="SELECT TOP 1 name FROM sysdatabases" />
    </Property>
  </Product>
</Wix>