<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension"
     >
  <Product Id="*" Name="DuplicateFolderUT" Language="1033" Version="$(var.JetVersion)" Manufacturer="$(var.JetManufacturer)" UpgradeCode="{B997AF76-8F98-40D1-B123-552C82C40B37}">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate CabinetTemplate="cab{0}.cab" EmbedCab="no"/>

    <Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
      <ComponentGroupRef Id="DuplicateFolderUT"/>
      <ComponentGroupRef Id="Core"/>
      <ComponentGroupRef Id="INSTALLFOLDER_COPY_2"/>
    </Feature>

    <Property Id="MSIFASTINSTALL" Value="1" />

    <PanelSW:DuplicateFolder SourceDir="INSTALLFOLDER" DestinationDir="INSTALLFOLDER_COPY"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="INSTALLFOLDER" Name="UnitTestSetup" ComponentGuidGenerationSeed="{85A6B1F8-4BEC-4D89-A772-307F03EEB095}"/>
      <Directory Id="INSTALLFOLDER_COPY" Name="Copy of UnitTestSetup" ComponentGuidGenerationSeed="{FC278F41-BBB1-421D-BB6F-F55578C341B5}"/>
    </Directory>

    <ComponentGroup Id="Core" Directory="INSTALLFOLDER">
      <Component>
        <CreateFolder Directory="INSTALLFOLDER_COPY"/>
        <File Source="$(sys.SOURCEFILEDIR)DuplicateFolderUT.bat" Compressed="no">
          <CopyFile DestinationDirectory="INSTALLFOLDER_COPY" Delete="no" Id="tst"/>
        </File>
      </Component>
    </ComponentGroup>
  </Product>

  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER_COPY_2" Name="Copy2 of UnitTestSetup">
          <Directory Id="NoDir">
            <Directory Id="CopySubDir" Name="copysub"/>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>

    <ComponentGroup Id="INSTALLFOLDER_COPY_2">
      <Component Id="testDupComp" Guid="" Directory="INSTALLFOLDER">
        <CreateFolder/>
        <PanelSW:DuplicateFolder DestinationDir="INSTALLFOLDER_COPY_2" DuplicateExistingFiles="yes"/>
      </Component>
      <Component Id="testDupComp1" Guid="{4F381019-D3A9-476C-BA25-8C8432F23A1F}" Directory="INSTALLFOLDER">
        <CreateFolder/>
        <PanelSW:DuplicateFolder DestinationDir="CopySubDir" DuplicateExistingFiles="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
