<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension"
     >
  <Product Id="{B7318C42-2252-44B9-A1E5-47CCD5163D9D}" Name="ServiceConfigUT" Language="1033" Version="1.0.0.0" Manufacturer="Panel::Software" UpgradeCode="{B997AF76-8F98-40D1-B123-552C82C40B37}">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />
    <Property Id="HIDE_ME" Hidden="yes" Value="123"/>

    <Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
      <Component Id="Test" Directory="INSTALLFOLDER">
        <File Source="$(var.ProjectDir)Product.wxs" />

        <!-- Change and revert service configuration -->
        <PanelSW:ServiceConfig ServiceName="TapiSrv" Account="NT AUTHORITY\LocalService" CommandLine="[System64Folder]svchost.exe -k tapisrv [HIDE_ME]" Start="auto" />
        <PanelSW:ServiceConfig ServiceName="TapiSrv" Account="NT AUTHORITY\LocalService" CommandLine="[System64Folder]svchost.exe -k tapisrv [HIDE_ME]" LoadOrderGroup="ab" Start="auto">
          <PanelSW:Dependency Group="otherGroup"/>
          <PanelSW:Dependency Service="otherService"/>
          <PanelSW:Dependency Group="[HIDE_ME]"/>
          <PanelSW:Dependency Service="[HIDE_ME]"/>
          <PanelSW:Dependency Group="otherGroup1" Service="otherService1"/>
        </PanelSW:ServiceConfig>
        <PanelSW:ServiceConfig ServiceName="TapiSrv" Account="NT AUTHORITY\NetworkService" CommandLine="[System64Folder]svchost.exe -k tapisrv" LoadOrderGroup="[~]" Start="demand" >
          <PanelSW:Dependency Service="[~]"/>
        </PanelSW:ServiceConfig>
        
        <!-- Non-existant service -->
        <PanelSW:ServiceConfig ServiceName="NO_SERVICE_NAMED_LIKE_THAT" Start="demand" ErrorHandling="prompt" />
      </Component>
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="UnitTestSetup" />
      </Directory>
    </Directory>

  </Product>
</Wix>