<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSBuildTasks" version="1.5.0.235" targetFramework="native" developmentDependency="true" />
  <package id="TidyBuild" version="1.5.1" targetFramework="native" developmentDependency="true" />
  <package id="WixToolset.BalUtil" version="4.0.0-rc.1" targetFramework="native" />
  <package id="WixToolset.BootstrapperCore.Native" version="4.0.0-rc.1" targetFramework="native" />
  <package id="WixToolset.DUtil" version="4.0.0-rc.1" targetFramework="native" />
</packages>