<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension">
  <Product Id="*" Name="PromptFileDowngradesUT" Language="1033" Version="$(var.JetVersion)" Manufacturer="$(var.JetManufacturer)" UpgradeCode="{B997AF76-8F98-40D1-B123-552C82C40B37}">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Property Id="MSIFASTINSTALL" Value="1"></Property>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component>
        <!--Downgrade-->
        <File Source="C:\Program Files\Git\git-bash.exe" Name="unins000.exe"/>
      </Component>
      <Component>
        <!--Same version-->
        <File Source="C:\Program Files\Git\git-bash.exe" Id="git_bash.exe"/>
      </Component>
      <Component Guid="{07628A98-CC11-45CD-A182-00777A72F0D7}" Id="naversion">
        <!--Not a version-->
        <File Source="$(sys.SOURCEFILEPATH)" CompanionFile="git_bash.exe"/>
      </Component>
      <Component>
        <!-- Source has no version -->
        <File Source="$(sys.SOURCEFILEPATH)" Name="git-cmd.exe"/>
      </Component>
      <Component>
        <!-- Target has no version -->
        <File Source="C:\Program Files\Git\git-bash.exe" Name="ReleaseNotes.html"/>
      </Component>
      <Component>
        <!-- No target file -->
        <File Source="C:\Program Files\Git\git-bash.exe" Name="git-bash-1.exe"/>
      </Component>
    </ComponentGroup>

    <CustomActionRef Id="TerminateSuccessfully_Immediate"/>
    <CustomActionRef Id="PromptFileDowngrades"/>
    <InstallExecuteSequence>
      <Custom Action="TerminateSuccessfully_Immediate" After="PromptFileDowngrades"></Custom>
    </InstallExecuteSequence>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Git" />
      </Directory>
    </Directory>
  </Product>
</Wix>
