<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="PreprocessorUT" Language="1033" Version="$(var.JetVersion)" Manufacturer="$(var.JetManufacturer)" UpgradeCode="{B997AF76-8F98-40D1-B123-552C82C40B37}" InstallerVersion="200">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />


    <Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>


    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component>
        <File Source="$(sys.SOURCEFILEPATH)" />
      </Component>
    </ComponentGroup>

    <!-- VarNullOrEmpty -->
    <?define VAR_DEFINED?>
    <?define VAR_WITH_VALUE=1?>

    <?if $(psw.VarNullOrEmpty(VAR_DEFINED)) = 0?>
    <?error Expected VAR_DEFINED to be empty?>
    <?endif?>

    <?if $(psw.VarNullOrEmpty(VAR_WITH_VALUE)) = 1?>
    <?error Expected VAR_WITH_VALUE to have a value?>
    <?endif?>

    <?if $(psw.VarNullOrEmpty(VAR_UNDEFINED)) = 0?>
    <?error Expected VAR_UNDEFINED to have a value?>
    <?endif?>

    <?if $(psw.VarNullOrEmpty(VAR_UNDEFINED)) != 0 and $(psw.VarNullOrEmpty(VAR_UNDEFINED)) != 1?>
    <?error Expected psw.VarNullOrEmpty to return either 1 or 0?>
    <?endif?>

    <?if $(psw.VarNullOrEmpty(VAR_UNDEFINED)) != 1 and $(psw.VarNullOrEmpty(VAR_UNDEFINED)) != 0?>
    <?error Expected psw.VarNullOrEmpty to return either 1 or 0?>
    <?endif?>

    <?if $(psw.VarNullOrEmpty(VAR_UNDEFINED)) != 1 or $(psw.VarNullOrEmpty(VAR_UNDEFINED)) != 0?>
    <?define NO_ERROR?>
    <?endif?>

    <?ifndef NO_ERROR?>
    <?error Expected no error?>
    <?endif?>

    <!-- AutoGuid -->
    <?define GUID1 = $(psw.AutoGuid($(var.VAR_WITH_VALUE)))?>
    <?define GUID2 = $(psw.AutoGuid(    1     ))?>
    <?if $(var.GUID1) != $(var.GUID2)?>
    <?error Expected AutoGuid to produce the same UUID for the same inputs?>
    <?endif?>

    <?define GUID3 = $(psw.AutoGuid(2))?>
    <?if $(var.GUID1) = $(var.GUID3)?>
    <?error Expected AutoGuid to produce different UUID for different inputs?>
    <?endif?>

    <?define GUID4 = $(psw.AutoGuid(1,2))?>
    <?if $(var.GUID4) = $(var.GUID3)?>
    <?error Expected AutoGuid to produce different UUID compared to another with appended inputs?>
    <?endif?>

    <?define GUID5 = $(psw.AutoGuid(2,1))?>
    <?if $(var.GUID5) = $(var.GUID3) or $(var.GUID5) = $(var.GUID4)?>
    <?error Expected AutoGuid to produce different UUID compared to another with prefixed inputs?>
    <?endif?>

    <!-- FileExists -->
    <?if $(psw.FileExists($(sys.SOURCEFILEPATH))) != 1?>
    <?error Expected this code file to exist?>
    <?endif?>

    <?if $(psw.FileExists($(sys.SOURCEFILEPATH)1)) != 0?>
    <?error Expected code file '$(sys.SOURCEFILEPATH)1' not to exist?>
    <?endif?>

    <?if $(psw.FileExists($(sys.SOURCEFILEDIR))) != 0?>
    <?error Expected this code file's folder not to exists as file?>
    <?endif?>

    <!-- DirExists -->
    <?if $(psw.DirExists($(sys.SOURCEFILEDIR))) != 1?>
    <?error Expected this code file's folder to exist?>
    <?endif?>

    <?if $(psw.DirExists($(sys.SOURCEFILEDIR)1)) != 0?>
    <?error Expected folder '$(sys.SOURCEFILEDIR)1' not to exist?>
    <?endif?>

    <?if $(psw.DirExists($(sys.SOURCEFILEDIR)empty)) != 1?>
    <?error Expected folder '$(sys.SOURCEFILEDIR)empty' to exist?>
    <?endif?>

    <?if $(psw.DirExists($(sys.SOURCEFILEPATH))) != 0?>
    <?error Expected file '$(sys.SOURCEFILEPATH)' not to exist as folder?>
    <?endif?>

    <!-- DirEmpty -->
    <?if $(psw.DirEmpty($(sys.SOURCEFILEDIR))) != 0?>
    <?error Expected this code file's folder not to be empty?>
    <?endif?>

    <?if $(psw.DirEmpty($(sys.SOURCEFILEDIR)1)) != 1?>
    <?error Expected folder '$(sys.SOURCEFILEDIR)1)' to be non-existent?>
    <?endif?>

    <?if $(psw.DirEmpty($(sys.SOURCEFILEDIR)empty)) != 1?>
    <?error Expected folder '$(sys.SOURCEFILEDIR)empty)' to be empty?>
    <?endif?>

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="UnitTestSetup" />
    </StandardDirectory>
  </Package>
</Wix>
