<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension">
  <Package Name="RemoveRegistryValueUT" Language="1033" Version="$(var.JetVersion)" Manufacturer="$(var.JetManufacturer)" UpgradeCode="{F419BD1C-AFC0-41D3-9400-757E2256322B}" InstallerVersion="200" ProductCode="{162B3494-45A1-45F9-9F3B-0AC4D19D75DB}">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Package>

  <Fragment>
    <Property Id="MSIFASTINSTALL" Value="1"></Property>
    <PanelSW:RemoveRegistryValue Root="HKLM" Key="Software\PanelSW\Nir" Name="Bar" Area="x86" Condition="COND1"/>
    <PanelSW:RemoveRegistryValue Root="HKLM" Key="Software\PanelSW\Nir" Name="Bar" Area="x64"/>

    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="UnitTestSetup" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="Test">
        <File Id="Test" Source="$(sys.SOURCEFILEPATH)" KeyPath="yes"></File>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
