<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension"
     >
  <Product Id="{B7318C42-2252-44B9-A1E5-47CCD5163D9D}" Name="JsonJPathUT" Language="1033" Version="1.0.0.0" Manufacturer="Panel::Software" UpgradeCode="{B997AF76-8F98-40D1-B123-552C82C40B37}">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
      <Component Id="Test" Directory="INSTALLFOLDER">
        <File Source="$(var.ProjectDir)JsonObject.json">
          <PanelSW:JsonJPath JPath="$.Manufacturers[\[]?(@.Name == 'Acme Co')[\]]" Value='{ "Customer": "Id" }'/>
          <PanelSW:JsonJPath JPath="$.Manufacturers[\[]?(@.Name == 'Acme Co')[\]]" Value='{ "Customer": "Id" }'/>
        </File>
      </Component>
    </Feature>

    <Property Id='HiddenTest' Value='Acme Co' Hidden='yes'/>
    <Property Id='JSON_TEST'>
      <PanelSW:JsonJpathSearch JPath="$.Manufacturers[\[]?(@.Name == '[HiddenTest]')[\]].Products[\[]0[\]].Name" FilePath="$(var.ProjectDir)JsonObject.json"/>
    </Property>
    <Property Id="Anvil" Value='"Anvil"'/>
    <Condition Message="Expected JSON_TEST=Anvil"><![CDATA[Installed Or (JSON_TEST=Anvil)]]></Condition>

    <Property Id='JSON_NULL_TEST'>
      <PanelSW:JsonJpathSearch JPath="$.Manufacturers[\[]?(@.Name == 'UnAcme Co')[\]].Products[\[]0[\]].Name" FilePath="$(var.ProjectDir)JsonObject.json"/>
    </Property>
    <Condition Message="Expected JSON_NULL_TEST=&lt;nothing&gt;"><![CDATA[Installed Or Not JSON_NULL_TEST]]></Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="UnitTestSetup" />
      </Directory>
    </Directory>

    <Property Id="MSIFASTINSTALL" Value="7"/>
  </Product>
</Wix>