<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schemas.panel-sw.co.il/wix/WixExtension ../../PanelSwWixExtension/XSD/PanelSwWixExtension.xsd">
  <Package Name="SplitFileUT" Language="1033" Version="$(var.JetVersion)" Manufacturer="$(var.JetManufacturer)" UpgradeCode="{B997AF76-8F98-40D1-B123-552C82C40B37}" InstallerVersion="200">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
      <Component Directory="INSTALLFOLDER" Guid="{9CF0C21D-C68E-4851-99AE-44BD6B763F21}" Id="_1">
        <File Id="___sys.SOURCEFILEPATH_" Source="$(sys.SOURCEFILEPATH)">
          <PanelSW:SplitFile Size="100" /> 
        </File>
      </Component>
      <Component Directory="INSTALLFOLDER" Guid="{3D7F995E-6B3E-4A58-854C-0E92E187AA6A}" Id="_2">
        <File Id="SplitFile2.wxs" Source="$(sys.SOURCEFILEPATH)" Name="SplitFile2.wxs">
          <PanelSW:SplitFile Size="150" />
        </File>
      </Component>
    </Feature>
    <Property Id="MSIFASTINSTALL" Value="1"></Property>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="UnitTestSetup" />
    </StandardDirectory>
  </Package>
</Wix>
