<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="CleanPendingFileRenameOperationsUT" Language="1033" Version="$(var.JetVersion)" Manufacturer="$(var.JetManufacturer)" UpgradeCode="{B997AF76-8F98-40D1-B123-552C82C40B37}" InstallerVersion="200">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
      <Component Id="Test" Directory="INSTALLFOLDER">
        <File Source="$(sys.SOURCEFILEPATH)" Id="CleanPendingFileRenameOperationsUT.wxs" />

        <!-- Copy CleanPendingFileRenameOperationsUT.wxs to Product.wxs1 and then delete Product.wxs1 -->
        <!-- Delete Product.wxs2 -->
        <RegistryValue Id="PendingFileRenameOperations" Root="HKLM" Key="SYSTEM\CurrentControlSet\Control\Session Manager" Name="PendingFileRenameOperations" Action="append" Type="multiString">
          <MultiStringValue Value="\??\[#CleanPendingFileRenameOperationsUT.wxs]"/>
          <MultiStringValue Value="!\??\[#CleanPendingFileRenameOperationsUT.wxs]1" />
          <MultiStringValue Value="\??\[#CleanPendingFileRenameOperationsUT.wxs]1" />
          <MultiStringValue />
          <MultiStringValue Value="!\??\[#Product.wxs2]" />
          <MultiStringValue />
        </RegistryValue>
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Name="Product.wxs2" Id="Product.wxs2" Source="$(sys.SOURCEFILEPATH)"/>
      </Component>
    </Feature>

    <CustomActionRef Id="CleanPendingFileRenameOperations" />
    <Property Id="MSIFASTINSTALL" Value="7" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="UnitTestSetup" />
    </StandardDirectory>
  </Package>
</Wix>
