<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle Name="SetPropertyFromPipeBootstrapper" Version="$(var.JetVersion)" Manufacturer="$(var.JetManufacturer)" UpgradeCode="f37b5c48-dd17-4ff6-af58-1bd697c2c1d7">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <Payload SourceFile="$(var.SetPropertyFromPipeBAF.TargetPath)" Name="bafunctions.dll"/>
    </BootstrapperApplicationRef>

    <Variable Name="PIPE_NAME" Value="" Type="string" />
    
		<Chain ParallelCache="yes" DisableSystemRestore="yes">

      <MsiPackage SourceFile="$(var.SetPropertyFromPipeSetup.TargetPath)">
        <MsiProperty Name="PIPE_NAME" Value="[PIPE_NAME]"/>
      </MsiPackage>
    </Chain>
	</Bundle>
</Wix>
