<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schemas.panel-sw.co.il/wix/WixExtension ../../PanelSwWixExtension/XSD/PanelSwWixExtension.xsd">

  <Product Id="{769C11E5-D811-4CE3-BE79-CC23725E6B38}" Name="$(var.ProjectName)" Language="1033" Version="$(var.JetVersion)" Manufacturer="$(var.JetManufacturer)" UpgradeCode="{8DC7207F-59B4-45E6-90B0-75769F8040B8}">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="UnitTestSetup" />
      </Directory>
    </Directory>

    <Property Id="MSIFASTINSTALL" Value="1"/>
    <Property Id="HIDDEN_ME" Hidden="yes"/>
    <SetProperty Id="HIDDEN_ME" Value="[#me.wxs]" Sequence="execute" Before="InstallInitialize"/>
    <PanelSW:ExecuteCommand After="DuplicateFiles" Command='"C:\Program Files\Notepad++\notepad++.exe" "[HIDDEN_ME]"' Condition='Not Installed' ErrorHandling='prompt' Impersonate='no' Id='openNotepad' Execute='commit' Wait='no'/>
    <PanelSW:ExecuteCommand Before="RemoveFiles" Command='"C:\Program Files\Notepad++\notepad++.exe" "ExecuteCommandUT.wxs"' WorkingDirectory='[INSTALLFOLDER]' Condition='Installed' ErrorHandling='prompt'/>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component>
        <File Source="$(sys.SOURCEFILEPATH)" Id="me.wxs" />
      </Component>
    </ComponentGroup>
  </Product>
</Wix>
