<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension">
  <Package Name="ServiceConfigUT" Language="1033" Version="$(var.JetVersion)" Manufacturer="$(var.JetManufacturer)" UpgradeCode="{B997AF76-8F98-40D1-B123-552C82C40B37}" InstallerVersion="200" ProductCode="{B7318C42-2252-44B9-A1E5-47CCD5163D9D}">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Property Id="HIDE_ME" Hidden="yes" Value="123" />

    <Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
      <Component Directory="INSTALLFOLDER">
        <File Source="$(sys.SOURCEFILEPATH)" />

        <!-- Change and revert service configuration -->
        <PanelSW:ServiceConfig ServiceName="TapiSrv" Account="NT AUTHORITY\LocalService" CommandLine="[System64Folder]svchost.exe -k tapisrv [HIDE_ME]" LoadOrderGroup="ab" Start="autoDelayed">
          <PanelSW:Dependency Group="otherGroup" />
          <PanelSW:Dependency Service="otherService" />
          <PanelSW:Dependency Group="[HIDE_ME]" />
          <PanelSW:Dependency Service="[HIDE_ME]" />
          <PanelSW:Dependency Group="otherGroup1" Service="otherService1" />
        </PanelSW:ServiceConfig>

        <!-- Non-existant service -->
        <PanelSW:ServiceConfig ServiceName="NO_SERVICE_NAMED_LIKE_THAT" Start="demand" ErrorHandling="prompt" />

        <!-- No change- just check if marked for deletion -->
        <PanelSW:ServiceConfig ServiceName="MySQL" ErrorHandling="ignore" />
      </Component>
    </Feature>

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="UnitTestSetup" />
    </StandardDirectory>
  </Package>
</Wix>
