<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schemas.panel-sw.co.il/wix/WixExtension ../../PanelSwWixExtension/XSD/PanelSwWixExtension.xsd">
  <Product Id="{769C11E5-D811-4CE3-BE79-CC23725E6B38}" Name="$(var.ProjectName)" Language="1033" Version="$(var.JetVersion)" Manufacturer="$(var.JetManufacturer)" UpgradeCode="{8DC7207F-59B4-45E6-90B0-75769F8040B8}">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="UnitTestSetup">
          <Directory Id="INSTALLFOLDER1" Name="1"/>
        </Directory>
      </Directory>
    </Directory>

    <Property Id="MSIFASTINSTALL" Value="1"></Property>
    <PanelSW:ZipFile SourceFolder="[MY_DIR]\src" IncludePattern="/*.log" TargetZipFile="[MY_DIR]root-logs.zip"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:ZipFile>
    <PanelSW:ZipFile SourceFolder="[MY_DIR]\src" ExcludePattern="/*.log" TargetZipFile="[MY_DIR]no-root-logs.zip"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:ZipFile>

    <PanelSW:ZipFile SourceFolder="[MY_DIR]\src" IncludePattern="**/*.txt" TargetZipFile="[MY_DIR]txt.zip"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:ZipFile>
    <PanelSW:ZipFile SourceFolder="[MY_DIR]\src" IncludePattern="**/*.?xt" TargetZipFile="[MY_DIR]txt2.zip"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:ZipFile>
    
    <PanelSW:ZipFile SourceFolder="[MY_DIR]\src" TargetZipFile="[MY_DIR]all.zip"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:ZipFile>
    <PanelSW:ZipFile SourceFolder="[MY_DIR]\src" IncludePattern="**" TargetZipFile="[MY_DIR]all2.zip"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:ZipFile>

    <PanelSW:ZipFile SourceFolder="[MY_DIR]\src" IncludePattern="**/*.txt" ExcludePattern="**/*.txt" TargetZipFile="[MY_DIR]none.zip"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:ZipFile>
    <PanelSW:ZipFile SourceFolder="[MY_DIR]\src" IncludePattern="**/*.?x" TargetZipFile="[MY_DIR]none2.zip"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:ZipFile>

    <PanelSW:ZipFile SourceFolder="[MY_DIR]\src" IncludePattern="**/[\{]*.tx,*.log[\}]" TargetZipFile="[MY_DIR]group-logs.zip"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:ZipFile>
    <PanelSW:ZipFile SourceFolder="[MY_DIR]\src" IncludePattern="**/[\{]*.txt,*.log[\}]" TargetZipFile="[MY_DIR]group-all.zip"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:ZipFile>
    <PanelSW:ZipFile SourceFolder="[MY_DIR]\src" ExcludePattern="**/[\{]*.txt,*.log[\}]" TargetZipFile="[MY_DIR]group-none.zip"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:ZipFile>
    <PanelSW:ZipFile SourceFolder="[MY_DIR]\src" IncludePattern="**/\[\{]*.txt,*.log\[\}]" TargetZipFile="[MY_DIR]ungroup-none.zip"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:ZipFile>

    <PanelSW:ZipFile SourceFolder="[MY_DIR]\src" IncludePattern="**/[\[]a-z[\]].log" TargetZipFile="[MY_DIR]range-logs.zip"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:ZipFile>
    <PanelSW:ZipFile SourceFolder="[MY_DIR]\src" IncludePattern="**/[\[]!a-z[\]].log" TargetZipFile="[MY_DIR]range-none.zip"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:ZipFile>

    <PanelSW:Unzip TargetFolder="[MY_DIR]root-logs" ZipFile="[MY_DIR]root-logs.zip" OverwriteMode="Unmodified" DeleteZip="yes"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:Unzip>    
    <PanelSW:Unzip TargetFolder="[MY_DIR]no-root-logs" ZipFile="[MY_DIR]no-root-logs.zip" OverwriteMode="Unmodified"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:Unzip>    
    <PanelSW:Unzip TargetFolder="[MY_DIR]txt" ZipFile="[MY_DIR]txt.zip" OverwriteMode="Unmodified"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:Unzip>    
    <PanelSW:Unzip TargetFolder="[MY_DIR]txt2" ZipFile="[MY_DIR]txt2.zip" OverwriteMode="Unmodified"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:Unzip>    
    <PanelSW:Unzip TargetFolder="[MY_DIR]all" ZipFile="[MY_DIR]all.zip" OverwriteMode="Unmodified"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:Unzip>    
    <PanelSW:Unzip TargetFolder="[MY_DIR]all2" ZipFile="[MY_DIR]all2.zip" OverwriteMode="Unmodified"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:Unzip>    
    <PanelSW:Unzip TargetFolder="[MY_DIR]none" ZipFile="[MY_DIR]none.zip" OverwriteMode="Unmodified"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:Unzip>    
    <PanelSW:Unzip TargetFolder="[MY_DIR]none2" ZipFile="[MY_DIR]none2.zip" OverwriteMode="Unmodified"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:Unzip>    
    <PanelSW:Unzip TargetFolder="[MY_DIR]group-all" ZipFile="[MY_DIR]group-all.zip" OverwriteMode="Unmodified"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:Unzip>    
    <PanelSW:Unzip TargetFolder="[MY_DIR]group-logs" ZipFile="[MY_DIR]group-logs.zip" OverwriteMode="Unmodified"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:Unzip>    
    <PanelSW:Unzip TargetFolder="[MY_DIR]group-none" ZipFile="[MY_DIR]group-none.zip" OverwriteMode="Unmodified"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:Unzip>    
    <PanelSW:Unzip TargetFolder="[MY_DIR]ungroup-none" ZipFile="[MY_DIR]ungroup-none.zip" OverwriteMode="Unmodified"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:Unzip>    
    <PanelSW:Unzip TargetFolder="[MY_DIR]range-logs" ZipFile="[MY_DIR]range-logs.zip" OverwriteMode="Unmodified"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:Unzip>    
    <PanelSW:Unzip TargetFolder="[MY_DIR]range-none" ZipFile="[MY_DIR]range-none.zip" OverwriteMode="Unmodified"><![CDATA[MY_DIR AND Not Installed]]></PanelSW:Unzip>    

    <ComponentGroup Id="ProductComponents">
      <Component Directory="INSTALLFOLDER">
        <File Source="$(sys.SOURCEFILEDIR)ZipFileUT.bat" Compressed="no"/>
      </Component>
    </ComponentGroup>
    
    <InstallExecuteSequence>
      <Custom Action="UnzipSched" After="ZipFileSched"/>
    </InstallExecuteSequence>
  </Product>
</Wix>
