<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schemas.panel-sw.co.il/wix/WixExtension ../../PanelSwWixExtension/Xsd/PanelSwWixExtension.xsd">
  <Package Name="ExecuteCommandUT" Language="1033" Version="$(var.JetVersion)" Manufacturer="$(var.JetManufacturer)" UpgradeCode="{B997AF76-8F98-40D1-B123-552C82C40B37}" InstallerVersion="200">

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Property Id="DO_ROLLBACK" Value="0"/>
    <Property Id="HIDDEN_ME" Hidden="yes"/>
    <SetProperty Id="HIDDEN_ME" Value="[#DeferredExePackage.exe]" Sequence="execute" Before="InstallInitialize"/>

    <PanelSW:ExecuteCommand Id='pswExec' After="DuplicateFiles" Command='"[HIDDEN_ME]" --print-info' Condition='Not REMOVE' ErrorHandling='prompt' Impersonate='no'>
      <PanelSW:Environment Name='MY_CUSTOM_ENV' Value ='machine_value'/>
    </PanelSW:ExecuteCommand>
    <PanelSW:ExecuteCommand Id='pswExecAsUser' After="pswExec" Command='"[#DeferredExePackage.exe]" --print-info' Condition='Not REMOVE' ErrorHandling='prompt' Impersonate='yes'>
      <PanelSW:Environment Name='MY_CUSTOM_ENV' Value ='user_value'/>
    </PanelSW:ExecuteCommand>
    <PanelSW:ExecuteCommand Before="RemoveFiles" Command='powershell.exe -C "Write-Host (Get-Content ExecuteCommandUT.ps1)"' WorkingDirectory='[INSTALLFOLDER]' Condition='REMOVE'/>
    
    <PanelSW:ExecuteCommand Id='touch' After="DuplicateFiles" ErrorHandling='prompt' Impersonate='no' WorkingDirectory='[MY_DIR]'
                            Command='powershell.exe -C "New-Item -Path install-test.txt -ItemType File"'
                            RollbackCommand='powershell.exe -C "New-Item -Path rollback-test.txt -ItemType File"'
                            CommitCommand='powershell.exe -C "New-Item -Path commit-test.txt -ItemType File"'
                            />

    <!-- Compare to built-in msi impersonation -->
    <SetProperty Id="msiExec" Value='"[HIDDEN_ME]" --print-info' Before="msiExec" Sequence="execute"/>
    <CustomAction Id="msiExec" BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)" DllEntry="WixQuietExec" Execute="deferred" Impersonate="no"/>

    <SetProperty Id="msiExecAsUser" Value='"[#DeferredExePackage.exe]" --print-info' Before="msiExecAsUser" Sequence="execute"/>
    <CustomAction Id="msiExecAsUser" BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)" DllEntry="WixQuietExec" Execute="deferred" Impersonate="yes"/>

    <InstallExecuteSequence>
      <Custom Action="msiExec" After="InstallFiles" Condition='Not REMOVE'/>
      <Custom Action="msiExecAsUser" After="msiExec" Condition='Not REMOVE'/>
      <Custom Action="Rollback_Deferred" Before="InstallFinalize" Condition="DO_ROLLBACK=1"/>
    </InstallExecuteSequence>

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="UnitTestSetup" />
    </StandardDirectory>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component>
        <File Source="$(sys.SOURCEFILEDIR)ExecuteCommandUT.ps1" Compressed="no" />
      </Component>
      <Component>
        <File Source="$(TargetDir)..\DeferredExePackage\DeferredExePackage.exe" Id="DeferredExePackage.exe" />
      </Component>
    </ComponentGroup>
  </Package>
</Wix>
