<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension">
  <Package Name="ExecuteCommandUT" Language="1033" Version="$(var.JetVersion)" Manufacturer="$(var.JetManufacturer)" UpgradeCode="{B997AF76-8F98-40D1-B123-552C82C40B37}" InstallerVersion="200">

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Feature Id="ProductFeature" Title="UnitTestSetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Property Id="HIDDEN_ME" Hidden="yes"/>
    <SetProperty Id="HIDDEN_ME" Value="[#DeferredExePackage.exe]" Sequence="execute" Before="InstallInitialize"/>

    <PanelSW:ExecuteCommand Id='pswExec' After="DuplicateFiles" Command='"[HIDDEN_ME]" --print-info' Condition='Not REMOVE' ErrorHandling='prompt' Impersonate='no'/>
    <PanelSW:ExecuteCommand Id='pswExecAsUser' After="pswExec" Command='"[#DeferredExePackage.exe]" --print-info' Condition='Not REMOVE' ErrorHandling='prompt' Impersonate='yes'/>
    <PanelSW:ExecuteCommand Before="RemoveFiles" Command='"notepad" "ExecuteCommandUT.wxs"' WorkingDirectory='[INSTALLFOLDER]' Condition='REMOVE' ErrorHandling='ignore'/>

    <!-- Compare to built-in msi impersonation -->
    <SetProperty Id="msiExec" Value='"[HIDDEN_ME]" --print-info' Before="msiExec" Sequence="execute"/>
    <CustomAction Id="msiExec" BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)" DllEntry="WixQuietExec" Execute="deferred" Impersonate="no"/>

    <SetProperty Id="msiExecAsUser" Value='"[#DeferredExePackage.exe]" --print-info' Before="msiExecAsUser" Sequence="execute"/>
    <CustomAction Id="msiExecAsUser" BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)" DllEntry="WixQuietExec" Execute="deferred" Impersonate="yes"/>

    <InstallExecuteSequence>
      <Custom Action="msiExec" After="InstallFiles"/>
      <Custom Action="msiExecAsUser" After="msiExec"/>
    </InstallExecuteSequence>

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="UnitTestSetup" />
    </StandardDirectory>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component>
        <File Source="$(sys.SOURCEFILEPATH)" />
      </Component>
      <Component>
        <File Source="$(TargetDir)..\DeferredExePackage\DeferredExePackage.exe" Id="DeferredExePackage.exe" />
      </Component>
    </ComponentGroup>
  </Package>
</Wix>
