<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension">
	<Product Id="*" Name="TelemetryUT" Language="1033" Version="1.0.0.0" Manufacturer="Microsoft" UpgradeCode="4ba1a99f-7eb4-491d-882d-b4d69a91c63b">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="TelemetryUT" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="UnitTestSetup" />
      </Directory>
    </Directory>

    <Property Id="MSIFASTINSTALL" Value="1"></Property>
    <PanelSW:Telemetry Id="Test1" Data="search?q=panel-sw" Url="google.co.il" OnStart="yes" />
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="Test" Guid="*">
        <File Id="Test" Source="$(var.ProjectDir)Product.wxs" KeyPath="yes"></File>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>