<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:PanelSW="http://schemas.panel-sw.co.il/wix/WixExtension" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schemas.panel-sw.co.il/wix/WixExtension ../../PanelSwWixExtension/XSD/PanelSwWixExtension.xsd">
  <Package Name="WmiSearchUT" Language="1033" Version="$(var.JetVersion)" Manufacturer="$(var.JetManufacturer)" UpgradeCode="d377fd04-a940-4ed2-8d55-e2f1f6f39d2d" InstallerVersion="200" Scope="perUser">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Property Id="MSIFASTINSTALL" Value="1"></Property>

    <Feature Id="ProductFeature" Title="WmiSearchUT" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component>
        <File Source="$(sys.SOURCEFILEPATH)" />
      </Component>
    </ComponentGroup>

    <Property Id="WMI_RESULT">
      <PanelSW:WmiSearch Query="SELECT * FROM Win32_LogonSession" />
      <PanelSW:WmiSearch Query="SELECT * FROM Win32_LogonSession" ResultProperty="StartTime" />
    </Property>
    <Launch Condition="WMI_RESULT" Message="Expected a WMI result" />

    <CustomActionRef Id="TerminateSuccessfully_Immediate" />
    <InstallExecuteSequence>
      <Custom Action="TerminateSuccessfully_Immediate" After="LaunchConditions" />
    </InstallExecuteSequence>
    <InstallUISequence>
      <Custom Action="TerminateSuccessfully_Immediate" After="LaunchConditions" />
    </InstallUISequence>

    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="WmiSearchUT" />
    </StandardDirectory>
  </Package>
</Wix>
